/* !Pokedex */

@keyframes pokeconsmall {
  from {
    padding-bottom: 100%;
    width: 140px;
    height: 90px;
  }
  to {
    padding-top: 40%;
    width: 150px;
    height: 90px;
  }
}
@keyframes pokeconbig {
  from {
    padding-top: 40%;
    width: 150px;
    height: 90px;
  }
  to {
    padding-bottom: 100%;
    width: 140px;
    height: 90px;
  }
}

@keyframes smaller {
  from {
    max-width: 90%;
    margin-top: 0%;
  }
  to {
    max-width: 85%;
    margin-top: 20px;
  }
}
@keyframes bigger {
  from {
    max-width: 85%;
    margin-top: 20px;
  }
  to {
    max-width: 90%;
    margin-top: 0%;
  }
}

@keyframes appear-pokemon {
  from {
    margin-top: 0%;
    transform: translateY(100px);
  }
  to {
    margin-top: 20%;
    transform: translateY(0px);
  }
}

@keyframes hide-pokemon {
  from {
    margin-top: 0%;
    transform: translateY(0px);
  }
  to {
    margin-top: 20%;
    transform: translateY(300px);
  }
}

/* !head content */
@keyframes head-content-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(900px) rotateY(20deg) translateZ(100px) scale(0.5);
  }
}

@keyframes head-content-back-animation {
  from {
    transform: perspective(900px) rotateY(20deg) translateZ(100px) scale(0.5);
  }

  to {
    transform: translate(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(100px);
  }
}

/* !Loading */
@-webkit-keyframes animatebottom {
  from {
    bottom: -1000px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -1000px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
