/* !Games */
.content {
  margin: 4rem;
}

.left-box1 {
  min-width: 45%;
}

.game-header {
  font-size: 2rem;
  text-align: start;
  color: #0d6cc8;
  font-weight: bold;
}

.game-p {
  text-align: start;
  margin-right: 270px;
  color: #0d6dc8;
}

.right-box1 {
  margin-left: 6rem;
}

.game-img1 {
  width: 48%;
  margin-bottom: 7rem;
}

.game-img2 {
  width: 48%;
}

/* !Movies */

.content2 {
  transform: rotate(-180deg);
  margin: 2rem;
}

.right-box2 {
  min-width: 50%;
}

.movie-header {
  font-weight: bold;
  font-size: 2rem;
  text-align: end;
  color: #0d6cc8;
}

.movie-p {
  margin-left: 250px;
  color: #0d6dc8;
}

.left-box2 {
  margin: 0;
  margin-right: 6rem;
}

.movie-img1 {
  width: 48%;
  margin-bottom: 7rem;
}

.movie-img2 {
  width: 48%;
}
