:is(.game-img1, .game-img2, .movie-img1, .movie-img2, .merch-img) {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

:is(.game-p, .game-header, .movie-header, .movie-p, .merch-header, .merch-p) {
  color: var(--index-text-color);
}

/* !Movies */

.content2 {
  transform: rotate(-180deg);
  margin: 5rem;
}

.right-box2 {
  min-width: 50%;
}

.movie-header {
  font-weight: bold;
  font-size: 2rem;
  text-align: end;
  font-size: 52px;
}

.movie-p {
  text-align: end;
  font-size: 24px;
  margin-left: 12rem;
}

.left-box2 {
  margin: 0;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.movie-img1 {
  max-height: 16rem;
  width: 11rem;
  margin-bottom: 7rem;
  margin-right: 2rem;
  border-radius: 48px;
}

.movie-img2 {
  margin-right: 2rem;
  max-height: 16rem;
  width: 11rem;
  border-radius: 48px;
}

.reverse-index-content {
  transform: rotate(-180deg);
  /* !shadow */
  box-shadow: -10px -15px 10px rgb(103, 103, 103);
  -webkit-box-shadow: -10px -15px 10px rgb(103, 103, 103);
}

/* !Games */
.content {
  margin: 5rem;
}
.content1 {
  margin-left: 5rem;
}

.game-header {
  font-size: 2rem;
  text-align: start;
  font-weight: bold;
  font-size: 58px;
  text-shadow: white 0px 0px 11px;
}

.game-p {
  text-align: start;
  margin-right: 20rem;
  font-size: 24px;
  margin-bottom: 2rem;
  width: 25rem;
  text-shadow: white 0px 0px 11px;
}

.game-img1 {
  width: 12rem;
  margin-top: 2rem;
  margin-right: 8rem;
  border-radius: 48px;
}

.game-img2 {
  margin-left: 8rem;
  width: 12rem;
  margin-bottom: 1rem;
  border-radius: 1100px;
}

/* !MERCH */

.content3 {
  margin: 5rem;
}

.merch-header {
  margin: 0;
  font-weight: bold;
  font-size: 72px;
  padding-top: 3rem;
  text-align: center;
}

.merch-p {
  font-size: 28px;
  text-align: center;
  padding-bottom: 1rem;
  background-color: hsla(0, 0%, 0%, 0.01);
  text-shadow: white 0px 0px 10px;
}

.merch-imgs {
  display: flex;
  justify-content: space-around;
}

.merch-img {
  border-radius: 48px;
  max-height: 14rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border-radius: 48px;
}
