/* !Games */
.content {
  margin: 4rem;
}

.left-box1 {
  min-width: 45%;
}

.game-header {
  font-size: 2rem;
  text-align: start;
  color: #0d6cc8;
  font-weight: bold;
}

.game-p {
  text-align: start;
  margin-right: 300px;
  color: #0d6dc8;
  margin-bottom: 5rem;
}

.right-box1 {
  margin-left: 10rem;
}

.game-img1 {
  max-height: 14rem;
  max-width: 10rem;
  width: 44%;
  margin-top: 2rem;
  margin-bottom: 10rem;
  margin-right: 2rem;
  border-radius: 28px;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
}

.game-img2 {
  max-height: 14rem;
  max-width: 10rem;
  width: 50%;
  margin-bottom: 1rem;
  border-radius: 110px;

  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
}

/* !Movies */

.content2 {
  transform: rotate(-180deg);
  margin: 2rem;
}

.right-box2 {
  min-width: 50%;
}

.movie-header {
  font-weight: bold;
  font-size: 2rem;
  text-align: end;
  color: #0d6cc8;
}

.movie-p {
  margin-left: 300px;
  color: #0d6dc8;
}

.left-box2 {
  margin: 0;
  margin-right: 6rem;
}

.movie-img1 {
  max-height: 14rem;
  width: 30%;
  margin-top: 1.5rem;
  margin-bottom: 7rem;
  margin-right: 2rem;
  border-radius: 48px;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.movie-img2 {
  max-height: 14rem;
  width: 30%;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  border-radius: 48px;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.reverse-index-content {
  transform: rotate(-180deg);
  /* !shadow */
  box-shadow: -10px -15px 10px rgb(103, 103, 103);
  -webkit-box-shadow: -10px -15px 10px rgb(103, 103, 103);
}
