footer {
  display: none;
}

.footer-content {
  margin: 2.5rem;
  margin-bottom: 5rem;
  background-size: cover;
  border-radius: 50px;
  transform: rotate(-180deg);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  /* !shadow */
  box-shadow: -10px -15px 10px rgb(103, 103, 103);
  -webkit-box-shadow: -10px -15px 10px rgb(103, 103, 103);
}

.footer-right {
  margin-left: 5%;
  height: 100%;
  transform: rotate(-180deg);
  border-radius: 1000px;
}

.top {
  position: absolute;
  right: 70%;
  transform: rotate(-180deg);
}

.top img {
  margin-bottom: 5%;
  width: 30%;
  border-radius: 15px;
  mix-blend-mode: color-burn;
}

.top img:hover {
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 0px 0px 5px var(--index-text-color);
  -webkit-box-shadow: 0px 0px 5px var(--index-text-color);
}

.footer-mid {
  margin-left: 15%;
  width: 100%;
  max-height: 100%;
  transform: rotate(-180deg);
  border-radius: 50px;
  mix-blend-mode: color-dodge;
}

.footer-mid:hover {
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 1px 1px 5px var(--index-text-color);
  -webkit-box-shadow: 1px 1px 5px var(--index-text-color);
}

.footer-left {
  transform: rotate(-180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-left .media:hover {
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 2px 2px 5px black;
  -webkit-box-shadow: 1px 1px 5px black;
}

.media {
  width: 70%;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 100px;
}
