.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* !Right */
.menu {
  position: absolute;
  top: 12%;
  right: 8%;
  background: #7fcbeb;
}
.right-img {
  position: relative;
  width: 90%;
  transform: matrix(1, -0.05, 0.1, 1, 0, 0);
}

.right-img:hover {
  /* !HITTA GIF */
  transition: 0.4s;
}

/* !Left */
:is(.left p, .left h1, .left button) {
  margin-left: 4%;
  font-family: Tinos;
}

.left {
  margin: 5%;
}

.left .logo {
  width: 45%;
  border-radius: 10px;
}

.left .logo:hover {
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 5px 5px 10px #0d6cc8;
  -webkit-box-shadow: 5px 5px 10px #0d6cc8;
}

.left h1 {
  width: 500px;
  font-weight: bold;
  font-size: 74px;
  color: #0d6cc8;
  margin-block-start: 7%;
  margin-block-end: 6%;
}

.left p {
  width: 300px;
  font-size: 18px;
  color: #0d6dc8;
  margin-block-start: 8%;
}

.left .btn1 {
  background: #7fcbeb;
}

.left .btn2 {
  background: #0d6dc8;
}
