.title {
  color: rgb(255, 238, 0);
  text-align: center;
  font-size: 72px;
  padding-top: 3rem;
}

.pokedex-text {
  color: #ffee00;
  font-size: 28px;
  text-align: center;
  padding-bottom: 1rem;
}

/* !Utanför */
.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  transition: 0.4s;
}

/* !Korten */
.pokemon {
  border-radius: 30px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  margin: 3rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 1px 1.5px 10px;
  -webkit-box-shadow: 1px 1.5px 10px;
}

/* !bilden */
.pokemon .img-container {
  border-radius: 50%;
  text-align: center;
  animation: pokeconsmall 0.6s forwards ease;
  width: 9rem;
  height: 2.5rem;
}

/* !bilden */
.pokemon .img-container img{
  width: 100rem;
  margin: 0;
}

:is(.pokemon:hover .img-container, .pokemon:active .img-container) {
  background-color: white;
  animation: pokeconbig 0.5s forwards ease;
}

.pokemon .img-container img {
  animation: bigger 0.5s forwards ease;
}

:is(.pokemon:hover .img-container img, .pokemon:active .img-container img) {
  animation: smaller 0.5s forwards ease;
}

/* !Texten */
.pokemon .info {
  animation: hide-pokemon 0.6s forwards ease;
}

:is(.pokemon:hover .info, .pokemon:active .info) {
  animation: appear-pokemon 0.6s forwards ease;
}

.pokemon .number {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
  animation: hide 0.6s forwards ease;
}

:is(.pokemon:hover .number, .pokemon:active .number) {
  animation: appear 0.6s forwards ease;
}

.pokemon .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
  animation: hide 0.6s forwards ease;
}

:is(.pokemon:hover .name, .pokemon:active .name) {
  animation: appear 0.6s forwards ease;
}


.pokemon .type {
  animation: hide 0.6s forwards ease;
}

:is(.pokemon:hover .type, .pokemon:active .type) {
  animation: appear 0.6s forwards ease;
}
