* {
  /* !Undraggable */
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.index-body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
}

main {
  display: none;
}

ul {
  list-style: none;
}

button {
  display: inline-block;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 5px 5px 5px #09729f;
  -webkit-box-shadow: 5px 5px 5px #09729f;
}

button:focus {
  outline: none;
}

:is(.index-content, .reverse-index-content) {
  margin: 2.5%;
  height: 90%;
  width: 95%;
  background-size: cover;
  border-radius: 50px;
  margin-bottom: 5rem;

  /* !shadow */
  box-shadow: 10px 15px 5px rgb(103, 103, 103);
  -webkit-box-shadow: 10px 15px 5px rgb(103, 103, 103);
}
