/* !Index */
.index-body {
  background: url("Images/sky.jpg");
}

:is(.index-content, .reverse-index-content, .header-content) {
  background: url("Images/bg.jpg");
}

.footer-content {
  background: url("Images/bg.jpg") no-repeat center center;
}

/* !Gif animation */
.gif {
  content: url("Images/stand.gif");
  border-radius: 100px;
}

.gif:hover {
  content: url("Images/idle.gif");
  border-radius: 100px;
}
