* {
  /* !Undraggable */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: url("Images/sky.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
}

button {
  display: inline-block;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 3px 3px 10px rgb(27, 27, 27);
  -webkit-box-shadow: 3px 3px 10px rgb(27, 27, 27);
}

button:focus {
  outline: none;
}

.head-content {
  margin: 2.5%;
  height: 90%;
  width: 95%;
  background: url("Images/background.jpg") no-repeat center center;
  background-size: cover;
  z-index: 1;
  border-radius: 50px;

  /* !shadow */
  box-shadow: 20px 30px 10px rgb(103, 103, 103);
  -webkit-box-shadow: 20px 30px 10px rgb(103, 103, 103);
}
