* {
  /* !Undraggable */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: url("Images/sky.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
}

main {
  display: none;
}

button {
  display: inline-block;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 5px 5px 5px #7fcbeb;
  -webkit-box-shadow: 5px 5px 5px #7fcbeb;
}

button:focus {
  outline: none;
}

.head-content {
  margin: 2.5%;
  height: 90%;
  width: 95%;
  background: url("Images/background.jpg") no-repeat center center;
  background-size: cover;
  border-radius: 50px;

  /* !shadow */
  box-shadow: 20px 30px 10px rgb(103, 103, 103);
  -webkit-box-shadow: 20px 30px 10px rgb(103, 103, 103);
}

/* !Gif animation */

.gif {
  transition: 0.5s;
  content: url("Images/stand.gif");
  border-radius: 100px;
}

.gif:hover {
  content: url("Images/idle.gif");
  border-radius: 100px;
}

/* !Loading */
.loader-img {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader h1 {
  position: fixed;
  z-index: 9999;
  top: 20%;
  left: 42%;
  font-size: 68px;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
